<!DOCTYPE HTML>
<html>
	<head>
		<title>Listado de Usuarios</title>
		<meta charset="utf-8" />
	</head>
	<body>



   <table>
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Pais</th>
            <th>Sexo</th>
        </tr>
    </thead>
    <tbody>
        {% for usuario in lista %}
        <tr>
            <td>{{usuario['nombre']}} </td>
            <td>{{usuario['apellido']}} </td>
            <td>{{usuario['pais']}} </td>
            <td>{{usuario['sexo']}} </td>
        </tr>
    {% endfor %}
    </tbody>
   </table>


	</body>
</html>